@model Biobanks.Directory.Models.Header.NavItemModel
@{
	var styles = "";

	if (Model.StyleClasses != null && Model.StyleClasses.Any())
	{
		styles = string.Join(" ", Model.StyleClasses);
	}
}

<li class="@styles">
	<a href="@Model.Url">
		@Html.Raw(Model.Title)
	</a>
</li>
