@model Biobanks.Submissions.Api.Models.Header.NavItemModel
@{
	var title = Model.Title ?? "Register Biobank";
}

<li>
	<a href="@Url.Action("Biobank", "Register", new { Area = "" })">
		<span class="fa fa-clipboard labelled-icon green"></span>@title
	</a>
</li>
