@model Biobanks.Submissions.Api.Models.Header.NavItemModel
@{
    var isSubMenu = (bool?)ViewData["SubMenu"] ?? false;
}

@* Dropdown menu is recursive when needing to add submenus *@
@if (isSubMenu)
{
    <li class="dropdown dropdown-submenu">
        <a class="dropdown-toggle" data-toggle="dropdown-submenu">@Model.Title<span class="caret"></span></a>
        <ul class="dropdown-menu">
            @foreach (var item in Model.Children)
            {
                if (item.Children?.Count() > 0)
                {
                    <partial name="_NavDropdown.cshtml" model="item"
                 view-data="@(new ViewDataDictionary(ViewData) { { "SubMenu", true } })" />
                }
                else
                {
                    <partial name="_NavItem.cshtml" model="item" />
                }
            }
        </ul>
    </li>
}
else
{
    <li class="dropdown ">
        <a class="dropdown-toggle" data-toggle="dropdown">@Model.Title<span class="caret"></span></a>
        <ul class="dropdown-menu">
            @foreach (var item in Model.Children)
            {
                if (item.Children?.Count() > 0)
                {
                    <partial name="_NavDropdown.cshtml" model="item"
                        view-data="@(new ViewDataDictionary(ViewData) { { "SubMenu", true } })" />
                }
                else
                {
                    <partial name="_NavItem.cshtml" model="item" />
                }
            }
        </ul>
    </li>
}

