@model Biobanks.Web.Models.Shared.OrganisationRegistrationReasonModel

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(x => x.Active)
        @Html.DisplayFor(x => x.RegistrationReasonName)
    </label>
    @Html.HiddenFor(x => x.RegistrationReasonName)
    @Html.HiddenFor(x => x.RegistrationReasonId)
</div>