@page
@model Directory.Pages.Account.ConfirmModel

<div id="asp-validation-summary"
     asp-validation-summary="ModelOnly"
     style="display: none">
</div>

<div id="react-app" data-route="confirm"></div>