@page
@model Directory.Pages.Account.ForgotPasswordModel

@using Directory.Pages;

@{ ViewBag.Title = "Forgot Password"; }

@if (Model.Route == ReactRoutes.ForgotPassword)
{
    <form id="asp-form" method="post"></form>
}

<partial name="_ReactRoute" />
