@page "{handler?}"
@model Directory.Pages.Account.ForgotPasswordModel

@using Directory.Pages;

@{ ViewBag.Title = "Forgot Password"; }

@if (new[]
{
    ReactRoutes.ForgotPassword,
    ReactRoutes.ResetPassword
}
.Contains(Model.Route))
{
    <form id="asp-form" method="post"></form>
}

<partial name="_ReactRoute" />
