@page
@model Directory.Pages.Account.LoginModel

@using Directory.Pages;

@{ ViewBag.Title = "Login"; }

@if (Model.Route == ReactRoutes.Login)
{
    <form id="asp-form" method="post"></form>
}

@if (Model.Route == ReactRoutes.LoginRedirect)
{
    <meta id="meta-refresh" http-equiv="refresh" content="0;url=@Model.RedirectUrl">
}

<partial name="_ReactRoute" />
