@page
@model Directory.Pages.Account.LoginModel
@{
    ViewBag.Title = "Login";
}

<!-- Asking Razor to render a form gives us a CSRF token and the Action route -->
<form id="asp-form" method="post" data-username="@Model.Username">
    <div id="react-app" data-route="login"></div>
</form>
