@page
@model Directory.Pages.Account.LogoutModel

@using Directory.Pages;

@{ ViewBag.Title = "Logout"; }

@if (Model.Route == ReactRoutes.LogoutConfirm)
{
    <form id="asp-form" method="post"></form>
}

@if (Model.SignOutIframeUrl is { })
{
    <iframe width="0" height="0" style="display: none" src="@Model.SignOutIframeUrl"></iframe>
}

<partial name="_ReactRoute" />