@page
@model Directory.Pages.Account.RegisterModel

@using Directory.Pages;

@{ ViewBag.Title = "Register"; }

@if (Model.Route == ReactRoutes.Register)
{
    <form id="asp-form" method="post"></form>
}

<partial name="_ReactRoute" />
