@page
@model Directory.Pages.Account.RegisterModel

@using Directory.Pages;

@{ ViewBag.Title = "Register"; }

@if (Model.Route == ReactRoutes.Register)
{
    <form id="asp-form" method="post"></form>
}

<script>
    __TDCC__.ViewModel = @Html.Raw(Model.JsonViewModel);
</script>

<div id="react-app" data-route="@Model.Route"></div>
