@page
@model Directory.Pages.Account.ResetPasswordModel

@using Directory.Pages;

@{ ViewBag.Title = "Reset Password"; }

@if (Model.Route == ReactRoutes.ResetPassword)
{
    <form id="asp-form" method="post"></form>
}
