@{
    ViewBag.Title = "Cookie Policy";
}

<h2>Cookie Policy</h2>

@* University policy text taken and modified from https://www.nottingham.ac.uk/utilities/cookies.aspx *@
<p>
    <strong>
        Our website uses cookies to help us provide you with a good experience and also allows us to improve our site. By continuing to browse the site, you are agreeing to our use of cookies.
    </strong>
</p>

<h3>What is a cookie?</h3>
<p>
    A cookie is a simple text file that is stored on your computer or mobile device by a website's server and only that server will be able to retrieve or read the contents of that cookie. It allows a website to remember things like your preferences or what's in your shopping basket.
</p>

<p>We use the following cookies:</p>

<p>
    <strong>Strictly necessary cookies.</strong>
    These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website.
</p>

<p>
    <strong>Analytical/performance cookies.</strong>
    They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.
</p>

<p>
    <strong>Functionality cookies.</strong>
    These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).
</p>

<h3>Google Analytics</h3>
<p>
    We make use of the Google Analytics service to understand how users navigate around our site.
</p>

<p>Further information on how Google Analytics uses cookies is available here:</p>
<p>
    <a class="sys_16" href="http://code.google.com/apis/analytics/docs/concepts/gaConceptsCookies.html#HowGAUsesCookies">http://code.google.com/apis/analytics/docs/concepts/gaConceptsCookies.html#HowGAUsesCookies</a>
</p>

<p>
    To opt out of Google analytics visit <a class="sys_16" href="http://tools.google.com/dlpage/gaoptout/">http://tools.google.com/dlpage/gaoptout/ </a>
</p>

<h3>Session cookies</h3>
<p>
    Session cookies allow information to be remembered from page to page. Some of this information may be system related &ndash; such as which of our webservers provides you with webpages &ndash; and others may relate to choices you have made on our website.
</p>
<p>Session cookies we use include:</p>
<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <td>.AspNet.ApplicationCookie</td>
            <td>Stores technical information only. This is essential to the operation of the site.</td>
            <td>This cookie is deleted automatically at the end of your browsing session.</td>
        </tr>
        <tr>
            <td>ASP.NET_SessionId</td>
            <td>Stores technical information only. This is essential to the operation of the site.</td>
            <td>This cookie is deleted automatically at the end of your browsing session.</td>
        </tr>
        <tr>
            <td>cookieconsent_dismissed</td>
            <td>This cookie stores your cookie usage preference. It will only ever be set to "yes", if you have dismissed our cookie consent message, thereby indicating your consent to our use of cookies, or understanding that you may disable them.</td>
            <td>This cookie is stored for a period of 30 days after your last visit.</td>
        </tr>
    </tbody>
</table>

<h3>Functionality cookies</h3>
<p>These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).</p>
<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <td>__tawkuuid</td>
            <td rowspan="3" class="cell-vertical-align-middle">These cookies store data related to your live-chat session using the tawk.to integration. More information is available at <a href="https://www.tawk.to/privacy-policy/">https://www.tawk.to/privacy-policy</a>.</td>
            <td>This cookie is stored for a period of 6 months after your last visit.</td>
        </tr>
        <tr>
            <td>Tawk_58456ac9e2def07b70a4e280</td>
            <td>This cookie is deleted automatically at the end of your browsing session.</td>
        </tr>
        <tr>
            <td>TaskConnectionTime</td>
            <td>This cookie is deleted automatically at the end of your browsing session.</td>
        </tr>
        <tr>
            <td>_hjClosedSurveyInvites</td>
            <td>Hotjar cookie. This cookie is set once a visitor interacts with a Survey invitation modal popup. It is used to ensure that the same invite does not re-appear if it has already been shown.</td>
            <td rowspan="7" class="cell-vertical-align-middle">These cookies are stored for a period of 365 days after your last visit.</td>
        </tr>
        <tr>
            <td>_hjDonePolls</td>
            <td>Hotjar cookie. This cookie is set once a visitor completes a poll using the Feedback Poll widget. It is used to ensure that the same poll does not re-appear if it has already been filled in.</td>
        </tr>
        <tr>
            <td>_hjMinimizedPolls</td>
            <td>Hotjar cookie. This cookie is set once a visitor minimizes a Feedback Poll widget. It is used to ensure that the widget stays minimizes when the visitor navigates through your site.</td>
        </tr>
        <tr>
            <td>_hjDoneTestersWidgets</td>
            <td>Hotjar cookie. This cookie is set once a visitor submits their information in the Recruit User Testers widget. It is used to ensure that the same form does not re-appear if it has already been filled in.</td>
        </tr>
        <tr>
            <td>_hjMinimizedTestersWidgets</td>
            <td>Hotjar cookie. This cookie is set once a visitor minimizes a Recruit User Testers widget. It is used to ensure that the widget stays minimizes when the visitor navigates through your site.</td>
        </tr>
        <tr>
            <td>_hjIncludedInSample</td>
            <td>Hotjar cookie. This session cookie is set to let Hotjar know whether that visitor is included in the sample which is used to generate funnels.</td>
        </tr>
        <tr>
            <td>_hjShownFeedbackMessage</td>
            <td>This cookie is set when a visitor minimizes or completes Incoming Feedback. This is done so that the Incoming Feedback will load as minimized immediately if they navigate to another page where it is set to show.</td>
        </tr>
    </tbody>
</table>

<p>A number of other cookies are used by particular web applications to maintain, for example, a shopping basket, or similar. Rejecting these cookies will prevent you using that application, but will have no effect on the rest of the site.</p>

<h3>Further information</h3>
<p>Please check the 'Help' menu of your browser to learn about your cookie preferences, and how to remove cookies from your system. The website <a href="http://allaboutcookies.org">www.allaboutcookies.org</a> will provide you with further information about cookies.</p>

<h3>Cookie settings</h3>
<p>You can block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. Please note that by disallowing cookies some functionality on the site may be restricted.</p>

@* End University policy text *@