@model Directory.Pages.Components.Redirect.RedirectViewModel
@{
    Layout = "_Layout";
}

<h1>You are now being returned to the application.</h1>
<p>Once complete, you may close this tab</p>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">

@section Scripts {
    <script>
        /*
        window.location.href = document
            .querySelector("meta[http-equiv=refresh]")
            .getAttribute("data-url");
        /**/
        const ready = () => {
            if (document.readyState == "complete") {
                __UKCRC_TDCC__.MetaRedirect();
                return true;
            } else return false;
        };

        if (!ready()) document.onreadystatechange = ready;
        /**/
    </script>
}