@page "{statusCode:int}"
@using Biobanks.Directory.Config
@using Microsoft.Extensions.Options
@inject IOptions<SitePropertiesOptions> _sitePropertiesOptions
@model Biobanks.Directory.Pages.StatusCodeModel

@{
    <html>
        <head>
            <title>Error</title>
        </head>
        <body>
            <div class="row">
                <div class="col-sm-6">
        
                    <h1>Error: @Model.OriginalStatusCode</h1>
                    <h2>
                        We're sorry.<br/>
                        <small>Something seems to have gone wrong.</small>
                    </h2>
            
                    <p>Your request <i>@Model.OriginalPathAndQuery</i> caused an error.</p>
        
                    <h3>How could this have happened?</h3>
                    <p>Something technical went wrong.</p>
                    <p>
                        This may have been the result of one of the following:
                    </p>

                    <ul>
                        <li>We might have moved the page you were trying to reach.</li>
                        <li>You may have accidentally typed the wrong URL in the address bar.</li>
                        <li>A previously undiscovered bug might have occurred when trying to process your request.</li>
                    </ul>

                    <h3>What can I do now?</h3>
                    
                    <ul>
                        <li>You could verify the logged in user is you (at the top right of this page).</li>
                        <li>You could try logging out and logging back in again</li>
                        <li>You could use the navigation above to get back to where you were, and try again.</li>
                        <li>You could head back to the <a href="/">@_sitePropertiesOptions.Value.ServiceName homepage</a>.</li>
                    </ul>
                </div>
            </div>
        </body>
    </html>
}
