@inject IOptions<SitePropertiesOptions> _options;
@inject IConfigService _config

@using Biobanks.Directory.Config
@using Biobanks.Directory.Services.Directory.Contracts
@model Biobanks.Directory.Models.Register.RegisterEntityModel

@{
    var sampleResourceName = await _config.GetSiteConfigValue(ConfigKey.SampleResourceName);
    ViewBag.Title = "Register a new " + sampleResourceName;
}
@if (await _config.GetSiteConfigValue(ConfigKey.RegisterRegistrationHelpUrl) != "" && await _config.GetSiteConfigValue(ConfigKey.EnableRegisterRegistrationHelpUrl) == "true")
{
    <div class="row">
        <div class="alert alert-info col-sm-3 info-help">
            <p>For guidance, go to our <a href="@await _config.GetSiteConfigValue(ConfigKey.RegisterRegistrationHelpUrl)">help page</a>.</p>
        </div>
    </div>
}
<h2>@await _config.GetSiteConfigValue(ConfigKey.RegisterBiobankTitle)</h2>

<div class="row">
    <div class="col-sm-12">
        <p>@await _config.GetSiteConfigValue(ConfigKey.RegisterBiobankDescription)</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-13">
        @using (Html.BeginForm("Biobank", "Register",
            FormMethod.Post,
            new { @class = "form-horizontal", id = "register-form" }))
        {
            @Html.AntiForgeryToken()

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    <button type="submit"
                            class="btn btn-primary form-control g-recaptcha"
                            data-sitekey="@_options.Value.GoogleRecaptchaPublicKey"
                            data-callback="onRecaptchaSubmit">
                        Register
                    </button>
                </div>
            </div>
        }
    </div>
</div>


@section HeadScripts
{
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script>
        function onRecaptchaSubmit(token) {
            document.getElementById("register-form").submit();
        }
    </script>
}

@section FooterScripts
{
    <script>
        $(function () {
            // Checkboxes emit booleans
            $('input[type=checkbox]').each(function () {
                $(this).prop("checked", $(this).val() == "true");
            });
            $('input[type=checkbox]').change(function () {
                $(this).val($(this).prop("checked"));
            });
        });
    </script>
}
