@model dynamic

@{
    ViewBag.Title = "Register a new " + ViewBag.RegisterEntityName;
}

<div class="paddedform">

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success">
                <p>Thanks for registering. We will verify your details and contact you within 4 working days.</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="col-sm-12 text-center">
        @Html.ActionLink("Return to Home", "Index", "Home", null, new { @class = "btn btn-primary" })
    </div>
</div>
