@inject IOptions<SitePropertiesOptions> _config
@using Biobanks.Directory.Config
@model Biobanks.Directory.Models.Emails.ResendConfirmModel

@{
  var directoryName = @_config.Value.ServiceName;

  // Format Email Subject
  ViewBag.Subject = $"{directoryName} Account Confirmation";
}

Dear @Html.Raw(ViewBag.Name),
<br/><br/>
We received a request to resend your account confirmation link.
<br/><br/>
Please use this link below to complete registration and set your password:
<br/><br/>
<a href="@Model.resetLink">Set Password</a>
<br/><br/>
Regards,<br/>
@_config.Value.EmailSignature
