@model dynamic

@{
    ViewBag.Title = "SuperUser Dashboard";
}

<br />

@await Html.PartialAsync("_SuperUserTabs", "Info")

<h2>
    Biobanks
</h2>

<a href="/hangfire" class="btn btn-primary">Hangfire dashboard</a>
<br />
<br />
<a href="/Flags/FlagsConfig" class="btn btn-primary">Config Flags</a>
