@model dynamic

@{
    ViewBag.Title = "SuperUser Dashboard";
}

<br />

<partial name="_SuperUserTabs" model= "Model" />

<h2>
    Biobanks
</h2>

<a href="/hangfire" class="btn btn-primary">Hangfire dashboard</a>
<br />
<br />
<a href="/Flags/FlagsConfig" class="btn btn-primary">Config Flags</a>
