@model Biobanks.Directory.Areas.Biobank.Models.Profile.OrganisationServiceModel

<div class="checkbox">
  <label>
    @Html.CheckBoxFor(x => x.Active)
    @Html.DisplayFor(x => x.ServiceOfferingName)
  </label>
  @Html.HiddenFor(x => x.ServiceOfferingName)
  @Html.HiddenFor(x => x.ServiceOfferingId)
</div>
