@using Newtonsoft.Json
@using Directory.Identity.Constants;
@model Biobanks.Web.Models.Header.NavItemModel

@if (CurrentUser.Identity.IsAuthenticated)
{
	var networkRequestClaims = CurrentUser.Claims.Where(x => x.Type == CustomClaimType.NetworkRequestId).ToList();
	foreach (var network in networkRequestClaims)
	{
		var currentClaim = JsonConvert.DeserializeObject<KeyValuePair<int, string>>(network.Value);
		<li>

			<a href="@Url.Action("SwitchToNetwork", "Account", new { id = currentClaim.Key, newNetwork = true})">

				<span class="fa fa-exchange labelled-icon"></span>@((string)currentClaim.Value)
			</a>
		</li>
	}

	var networkClaims = CurrentUser.Claims.Where(x => x.Type == CustomClaimType.NetworkId).ToList();
	foreach (var network in networkClaims)
	{
		var currentClaim = JsonConvert.DeserializeObject<KeyValuePair<int, string>>(network.Value);
		<li>

			<a href="@Url.Action("SwitchToNetwork", "Account", new { id = currentClaim.Key, newNetwork = false})">


				<span class="fa fa-exchange labelled-icon"></span>@((string)currentClaim.Value)
			</a>
		</li>
	}
}