@using Newtonsoft.Json
@model Biobanks.Web.Models.Header.NavItemModel

@if (CurrentUser.Identity.IsAuthenticated)
{
	if (ViewBag.UserNetworkRequests != null)
	{
		var networks = JsonConvert.DeserializeObject<List<KeyValuePair<int, string>>>(ViewBag.UserNetworkRequests);

		foreach (var network in networks)
		{
			<li>
				<a href="@Url.Action("SwitchToNetwork", "Account", new { id = network.Key, newNetwork = true })">
					<span class="fa fa-exchange labelled-icon"></span>@((string)network.Value)
				</a>
			</li>
		}
	}
	if (ViewBag.UserNetworks != null)
	{
		var networks = JsonConvert.DeserializeObject<List<KeyValuePair<int, string>>>(ViewBag.UserNetworks);

		foreach (var network in networks)
		{
			<li>
				<a href="@Url.Action("SwitchToNetwork", "Account", new { id = network.Key, newNetwork = false })">
					<span class="fa fa-exchange labelled-icon"></span>@((string)network.Value)
				</a>
			</li>
		}
	}
}