@model Biobanks.Web.Models.Header.NavItemModel

@if (CurrentUser.Identity.IsAuthenticated)
{
	var biobankRequestClaims = CurrentUser.BiobankRequests;
	foreach (var biobank in biobankRequestClaims)
	{
		<li>
			<a href="@Url.Action("SwitchToBiobank", "Account", new { id = biobank.Key, newBiobank = true})">
				<span class="fa fa-book labelled-icon"></span>@(biobank.Value)
			</a>
		</li>
    }

    var biobankClaims = CurrentUser.Biobanks;
    foreach (var biobank in biobankClaims)
    {
        <li>
            <a href="@Url.Action("SwitchToBiobank", "Account", new { id = biobank.Key, newBiobank = false})">
                <span class="fa fa-book labelled-icon"></span>@(biobank.Value)
			</a>
		</li>
	}
}