@model Biobanks.Web.Models.Header.NavItemModel

@if (CurrentUser.Identity.IsAuthenticated)
{
	<li>
		<a href="@Url.Action("Logout", "Account")">
			<span class="fa fa-sign-in labelled-icon red"></span>Logout
		</a>
	</li>
}