@using Biobanks.Directory.Data.Constants;
@model Biobanks.Web.Models.Header.NavItemModel

@if (App.Config[ConfigKey.DisplayAboutPage] != "false")
{
    <li>
        <a href="@Url.Action("About", "Home")">
            <span class="fa labelled-icon"></span>about
        </a>
    </li>
}

