@model Biobanks.Web.Models.Header.NavItemModel
@{
	var isSubMenu = (bool?)ViewData["SubMenu"] ?? false;
}

@* Dropdown menu is recursive when needing to add submenus *@
@if (isSubMenu)
{
	<li class="dropdown dropdown-submenu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">@Model.Title<span class="caret"></span></a>
		<ul class="dropdown-menu">
			@foreach (var item in Model.Children)
			{
				if (item.Children?.Count() > 0)
				{
					Html.RenderPartial("_NavDropdown", item, new ViewDataDictionary { { "SubMenu", true } });
				}
				else
				{
					Html.RenderPartial("_NavItem", item);
				}
			}
		</ul>
	</li>
}
else
{
	<li class="dropdown ">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Model.Title<span class="caret"></span></a>
		<ul class="dropdown-menu">
			@foreach (var item in Model.Children)
			{
				if (item.Children?.Count() > 0)
				{
					Html.RenderPartial("_NavDropdown", item, new ViewDataDictionary { { "SubMenu", true } });
				}
				else
				{
					Html.RenderPartial("_NavItem", item);
				}
			}
		</ul>
	</li>
}

