<?xml version="1.0" encoding="utf-8"?> 
 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"> 
  <connectionStrings> 
  </connectionStrings> 
  
  <appSettings> 
    <add key="HotjarEnabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/> 
    <add key="NewRelic.AppName" value="BiobankingUK" xdt:Transform="Insert"/> 
  </appSettings> 
 
  <system.web> 
  </system.web> 
 
  <system.net> 
    <mailSettings xdt:Transform="Replace"> 
      <smtp deliveryMethod="Network"> 
        <network defaultCredentials="true" host="smtp.nottingham.ac.uk" port="25" /> 
      </smtp> 
    </mailSettings> 
  </system.net> 
 
  <system.webServer> 
    <!-- Default Path doesn't seem to work :( so I guess we have to set every error we want to handle --> 
    <httpErrors errorMode="Custom" existingResponse="Replace" defaultResponseMode="File" 
                xdt:Transform="Insert"> 
      <clear/> 
      <!-- Bad Request: https://localhost:44300/< --> 
      <error 
        statusCode="400" 
        path="Error\error.html" 
        responseMode="File"/> 
 
      <error 
        statusCode="404" 
        path="Error\error.html" 
        responseMode="File"/> 
 
      <error 
        statusCode="500" 
        path="Error\error.html" 
        responseMode="File"/> 
    </httpErrors> 
  </system.webServer> 
</configuration>
