@inject Biobanks.Submissions.Api.Services.Directory.IConfigService _config

@using Biobanks.Submissions.Api.Config
@model Biobanks.Submissions.Api.Areas.Biobank.Models.Profile.BiobankDetailsModel;

@{
    ViewBag.Title = "Create " + await _config.GetSiteConfigValue(ConfigKey.SampleResourceName) + " details";
}

<h2>Edit @await _config.GetSiteConfigValue(ConfigKey.SampleResourceName) details</h2>

@using (Html.BeginForm("Create", "Profile",
  FormMethod.Post,
  new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
  @Html.AntiForgeryToken()
  @await Html.PartialAsync("_Edit", Model)
}

@section FooterScripts
{
  <script src="~/dist/js/Biobank/edit-details.min.js" asp-append-version="true"></script>
  <script src="~/dist/js/Biobank/help-buttons.min.js" asp-append-version="true"></script>
}
