@model Biobanks.Directory.Areas.Biobank.Models.Capabilities.AddCapabilityModel

@{
  ViewBag.Title = "Add capability";
}

@section FooterScripts
{
  <script src="~/dist/js/Biobank/diagnosis-type-ahead.min.js" asp-append-version="true"></script>
  <script src="~/dist/js/Biobank/help-buttons.min.js" asp-append-version="true"></script>
  <script src="~/dist/js/Biobank/associated-data-provision.min.js" asp-append-version="true"></script>
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddCapability", "Capabilities", new { biobankId = ViewContext.RouteData.Values["biobankId"]}, FormMethod.Post, true, new { @class = "form-horizontal col-sm-10" }))
{
  @Html.AntiForgeryToken()
  
  @await Html.PartialAsync("_CapabilitySharedFields", Model)

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 text-center">
      @Html.ActionLink("Cancel", "Index", "Capabilities", new { biobankId = ViewContext.RouteData.Values["biobankId"] }, new { @class = "btn btn-default" })
      <button type="submit" class="btn btn-primary">Create capability</button>
    </div>
  </div>
}
