@model Biobanks.Submissions.Api.Areas.Biobank.Models.Collections.AddCollectionModel
@{
    ViewBag.Title = "Add collection";
}

@section FooterScripts
{
    <script src="~/dist/js/Biobank/collection-and-capability-crud.min.js" asp-append-version="true"></script>
    <script src="~/dist/js/Biobank/help-buttons.min.js" asp-append-version="true"></script>
}


<h2>@ViewBag.Title</h2>

<partial name ="_DataProtectionAlert"/>

@using (Html.BeginForm("AddCollection", "Collections", FormMethod.Post, new { @class = "form-horizontal col-sm-10" }))
{
    @Html.AntiForgeryToken()

  @await Html.PartialAsync("_CollectionSharedFields", Model)

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 text-center">
            @Html.ActionLink("Cancel", "Collections", null, new { @class = "btn btn-default" })
            <button type="submit" class="btn btn-primary">Create collection</button>
        </div>
    </div>
}
