@model Biobanks.Submissions.Api.Areas.Biobank.Models.Collections.EditCollectionModel
@{
    ViewBag.Title = "Edit collection";
}

@section FooterScripts
{
    <script src="~/dist/js/Biobank/collection-and-capability-crud.min.js" asp-append-version="true"></script>
    <script src="~/dist/js/Biobank/help-buttons.min.js" asp-append-version="true"></script>
}

<h2>@ViewBag.Title</h2>

@await Html.PartialAsync("_DataProtectionAlert")

@using (Html.BeginForm("EditCollection", "Collections", FormMethod.Post, new { @class = "form-horizontal col-sm-10" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)

    @await Html.PartialAsync("_CollectionSharedFields", Model)
    <div class="form-group">
        <div class="col-sm-12 text-center">
            @Html.ActionLink("Cancel", "Collection", new { id = Model.Id }, new { @class = "btn btn-default" })
            <button type="submit" class="btn btn-primary">Update collection</button>
        </div>
    </div>
}
