@model dynamic

@{
    ViewBag.Title = "An error occurred";
    ViewBag.SuppressFormErrorAlert = true;
}

<div class="row">
    <div class="col-sm-12">
        @Html.DisplayFor(m => ViewData.ModelState, "ModelStateDictionaryGlobalOnly")
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12 text-center">
        @Html.ActionLink("Return to Home", "Index", "Home", null, new { @class = "btn btn-primary" })
    </div>
</div>
