@model Biobanks.Submissions.Api.Views.Shared.StatusCode
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Status Code</title>
</head>
<body>
<div>
    <h1>Status Code </h1>
</div>
</body>
</html>