@using Biobanks.Directory.Data.Constants;
@using Biobanks.Web.Models.Home
@using System.Web.Optimization
@model HomepageContentModel

@Scripts.Render("~/bundles/home/search-tabs")


<ul id="searchtabs" class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#_DiagnosisSearchBox" role="tab" data-toggle="tab">Diagnosis</a>
    </li>
    <li>
        <a href="#_PublicationSearchBox" role="tab" data-toggle="tab">Publication</a>
    </li>
</ul>


<div class="tab-content">
    <div class="tab-pane fade in active" id="_DiagnosisSearchBox">
        @Html.Partial("~/Views/Home/_DiagnosisSearchBox.cshtml", Model)
    </div>
    <div class="tab-pane fade" id="_PublicationSearchBox">
        @Html.Partial("~/Views/Home/_PublicationSearchBox.cshtml", Model)
    </div>
</div>
