@using System.Web.Optimization
@using Biobanks.Directory.Data.Constants
@using System.Configuration
@using Biobanks.Web.HtmlHelpers

@model Biobanks.Web.Models.Home.AboutModel

@{
    ViewBag.Title = "About";
}

@*<h2>@ViewBag.Title</h2>*@

<div class="row">
    <div class="col-sm-12">
        @Html.Markdown(Model.BodyText)
    </div>
</div>

