@{
    ViewBag.Title = "Privacy Policy";
}

<h2>Privacy Policy</h2>

<p>The UKCRC Tissue Directory and Coordination Centre is a research project hosted by the University of Nottingham. We use your information collected from the website to personalise your repeat visits to our website, and to help us understand what works and what doesn't on our website. We'll use information you submit through our contact forms and other ways of giving feedback to help you with your specific issues.</p>

<p>The legal basis for this processing is legitimate interest.</p>

<p>General information on how to contact the University’s Data Protection Officer and your rights as a data subject can be found at <a href="https://www.nottingham.ac.uk/utilities/privacy.aspx">https://www.nottingham.ac.uk/utilities/privacy.aspx</a>.</p>

<p>Further detail on how your information is processed can be found at <a href="https://www.nottingham.ac.uk/utilities/privacy/privacy-information-for-website-visitors.aspx">https://www.nottingham.ac.uk/utilities/privacy/privacy-information-for-website-visitors.aspx</a>.</p>