@inject IOptions<SitePropertiesOptions> _config
@model Biobanks.Submissions.Api.Models.Emails.ResendConfirmModel

@{
  var directoryName = @_config.Value.ServiceName;

  // Format Email Subject
  ViewBag.Subject = $"{directoryName} Account Confirmation";
}

Dear @Html.Raw(ViewBag.Name)

We received a request to resend your account confirmation link.

Please use this link below to complete registration and set your password:

<a href="@Model.resetLink">Set Password</a>

Regards,
@_config.Value.EmailSignature
