@model dynamic

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info">
            <p>If there is an account registered for the email address you entered, we'll send it a password reset link. Please check your email.</p>
        </div>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-sm-12 text-center">
      @Html.ActionLink("Return to Home", "Index", "Home", null, new { @class = "btn btn-primary" })
    </div>
</div>
