@model Biobanks.Directory.Models.Account.ResetPasswordModel

@{
    ViewBag.Title = "Set a new Password";
}

<h2>Set a new Password</h2>

<div class="row">
    <div class="col-sm-12">
        <p>Please enter a new password for your account</p>
    </div>
</div>

@using (Html.BeginForm(
                    "ResetPassword", "Account",
                    FormMethod.Post,
                    new { @class = "form-horizontal col-sm-8" }))
{

    @Html.AntiForgeryToken()
    @Html.EditorForModel()

    <div class="form-group">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary">Set Password</button>
        </div>
    </div>
}

<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="fa fa-info-circle labelled-icon"></span>
                Password requirements
            </h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Use at least 8 characters</li>
                <li>Use at least one uppercase letter</li>
                <li>Use at least one lowercase letter</li>
                <li>Use at least one number</li>
                <li>Use at least one special character</li>
                <li>Differ from previously used passwords</li>
            </ul>
        </div>
    </div>
</div>

@section FooterScripts
{
  <script src="~/dist/js/Account/reset-password.min.js" asp-append-version="true"></script>
}
