@model Biobanks.Web.Models.Biobank.SubmissionsModel

@{
    ViewBag.Title = "Submissions";
}

@Html.Partial("_BiobankTabs", "Submissions")

<h2>
    @ViewBag.Title
</h2>

<p>
    If you need to bulk submit data, instructions on how to interact with the submissions API can be
    found here (todo link).
</p>

<h3>Default values</h3>
<p>When samples are imported, default values need setting.</p>

<div class="form-group">
    <div class="col-sm-10 col-sm-offset-1">
        <h4 class="required">
            @Html.DisplayNameFor(x => x.AccessCondition)
        </h4>
    </div>
</div>