@inject IOptions<SitePropertiesOptions> _sitePropertiesOptions

@{
    var siteProperties = _sitePropertiesOptions.Value;
    ViewBag.SupportEmail = siteProperties.SupportAddress;
}

@if (ViewBag.ShowSuspendedWarning ?? false)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-warning feedback-message @Html.Raw(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "feedback-message-home" : "")" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Your biobank is currently suspended, so your public profile and search results will be inaccessible. Please contact ADAC via <a href="mailto:@ViewBag.SupportEmail">@ViewBag.SupportEmail</a> for more information.
                </div>
            </div>
        </div>
    </div>
}
