@model Biobanks.Submissions.Api.Areas.Admin.Models.PagesAdmin.ContentPageModel

<style>
    .navbar-fixed-top {
        top: 50px;
    }

    .top-padding {
        margin-top: 50px;
    }

    .container {
        padding-top: 25px;
        padding-left: 25px;
    }
</style>
<div class="preview-message">
    <h4>
        Content Page Preview
    </h4>
    <label id="submit-button" for="submit-form" class="btn btn-success pull-right">Save Changes</label>
    <label id="edit-button" for="edit-form" class="btn btn-primary pull-right pull-right-space">Edit</label>

    @using (Html.BeginForm("Submit", "PagesAdmin", Model, FormMethod.Post))
    {
        <input id="submit-form" type="submit" class="hidden" />
    }
    @using (Html.BeginForm("CreateEdit", "PagesAdmin", Model, FormMethod.Post))
    {
        <input id="edit-form" type="submit" class="hidden" />
    }
</div>
<div class="container">
  @await Html.PartialAsync("ContentPage", Model)
</div>
@* RenderPage adds a container we don't want *@
<script>
	document.querySelector("section > .container").classList.remove("container");
</script>

