@model Biobanks.Directory.Models.Account.ResetPasswordModel

@Html.HiddenFor(model => model.Token)
@Html.HiddenFor(model => model.UserId)

<div class="form-group">
    @Html.LabelFor(x => x.Password, new { @class = "col-sm-3 control-label required" })
    <div class="col-sm-6">
        @Html.PasswordFor(x => x.Password, new {@class = "form-control"})
        <br/>
        <div class="pwstrength_viewport_progress"></div>
        <div class="pwstrength_viewport_verdict text-center">&nbsp;</div>
    </div>
</div>
