@model string
@{
    ViewBag.Title = "This Page/Reference Data is Locked";
}

@await Html.PartialAsync("_ADACTabs", (string)ViewBag.Title)

    <h3>
        The page or reference data selected is currently locked. To access this page, the appropriate configuration value needs to be assigned.    
    </h3>
