<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/dist/bundle.css">
</head>
<body>
    <header>
        Header
    </header>

    <main>
        @RenderBody()
    </main>
</body>
</html>
