<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()

    <script src="~/dist/bundle.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>
