<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <script>__TDCC__ = {};</script>

    @RenderBody()

    @* Conditionally load Babel's polyfill in non-module browsers (like IE) *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js" nomodule></script>
    
    @* Here's where we'd load a JS bundle if we had one that wasn't part of our React ClientApp *@

    @RenderSection("Scripts", required: false)
</body>
</html>
