<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <script>__TDCC__ = {};</script>

    @RenderBody()

    <script src="~/dist/ie.js" nomodule defer></script>
    <script src="~/dist/bundle.js" type="module"></script>
</body>
</html>
