@model Biobanks.Submissions.Api.Areas.Biobank.Models.Capabilities.EditCapabilityModel

@{
  ViewBag.Title = "Edit capability";
}

@section FooterScripts
{
  <script src="~/dist/js/Biobank/collection-and-capability-crud.min.js" asp-append-version="true"></script>
  <script src="~/dist/js/Biobank/help-buttons.min.js" asp-append-version="true"></script>
}

<h2 style="margin-top: 0;">@ViewBag.Title</h2>
<br />

@using (Html.BeginForm("EditCapability", "Capabilities", FormMethod.Post, new { @class = "form-horizontal col-sm-10" }))
{
  @Html.AntiForgeryToken()
  @Html.HiddenFor(x => x.Id)
  
  @await Html.PartialAsync("_CapabilitySharedFields", Model)

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2 text-center">
      @Html.ActionLink("Cancel", "Capability", new { biobankId = ViewContext.RouteData.Values["biobankId"], id = Model.Id }, new { @class = "btn btn-default" })
      <button type="submit" class="btn btn-primary">Update capability</button>
    </div>
  </div>
}
