@model Biobanks.Submissions.Api.Models.Account.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title</h2>
<br />

<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
           @using (Html.BeginForm(
             "Login",
             "Account",
             new { returnUrl = ViewBag.ReturnUrl },
             FormMethod.Post,
             true,
             new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    <button type="submit" class="btn btn-primary form-control">Login</button>
                </div>
            </div>

            <br/>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    @Html.ActionLink("Forgot password?", "ForgotPassword", "Account")
                </div>
            </div>
        }
    </div>
</div>

