@using Biobanks.Submissions.Api.Constants
@model Biobanks.Submissions.Api.Models.Header.NavItemModel

@if (User.Identity.IsAuthenticated)
{
	if (User.IsInRole(Role.DirectoryAdmin))
	{
		<li>
			<a href="@Url.Action("Index", "Requests", new { Area = "Admin" })">
				<span class="fa fa-user labelled-icon"></span>Centre Admin
			</a>
		</li>
	}
}
