@using Biobanks.Identity.Constants @* TODO: move these constants *@
@model Biobanks.Submissions.Api.Models.Header.NavItemModel

@if (User.Identity.IsAuthenticated)
{
	if (User.IsInRole(Role.SuperUser.ToString()))
	{
		<li>
			<a href="@Url.Action("Index", "SuperUser")">
				<span class="fa fa-user labelled-icon"></span>Super User
			</a>
		</li>
	}
}