@using Biobanks.Identity.Constants @* TODO: Move these constants *@
@model Biobanks.Submissions.Api.Models.Header.NavItemModel

@if (User.Identity.IsAuthenticated)
{
	if (User.IsInRole(Role.ADAC.ToString()))
	{
		<li>
			<a href="@Url.Action("Index", "ADAC")">
				<span class="fa fa-user labelled-icon"></span>Centre Admin
			</a>
		</li>
	}
}