@using System.Web.Optimization
@model Biobanks.Web.Models.Home.AboutModel
@{
    ViewBag.Title = "Aboutpage Config";
}

@Html.Partial("_ADACTabs", (string)ViewBag.Title)

<h3>
    Aboutpage Configuration

    <label id="submit-button" for="submit-form" class="btn btn-success pull-right">Save Changes</label>
</h3>

<div class="row">
    <div class="col-md-12">
        <br />

        <form id="aboutpage-config-form" class="form-horizontal" method="post">
            <input type="submit" id="submit-form" class="hidden" formaction="./SaveAboutpageConfig" />

            <div class="row">
                <div class="col-md-12">

                    <a class="icon-button"></a>

                    <!-- About page body text  -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">About Page Body Text</label>
                        <div class="col-md-10">
                            <textarea cols=50 rows=8 id="BodyText" name="BodyText" class="form-control mdd_editor">@Model.BodyText</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section FooterScripts
{
    @Scripts.Render("~/bundles/markdowndeep")
}
