@using Biobanks.Web.Models.ADAC
@model ContentPagesModel

@{ ViewBag.Title = "Content Page Admin"; }

<h1>Content Page Admin</h1>
<div class="row">
    <table id="contentPages" class="table table-striped">
        <tr>
            <th width="50"></th>
            <th width="350">Title</th>
            <th width="50"></th>
            <th width="50"></th>

            @foreach (var page in Model.ContentPages)
            {
                <tr>
                    <td></td>
                    <td>@page.Title</td>
                    <td><a href="/edit">Edit</a></td>
                    <td><a href="/delete">Delete</a></td>
                </tr>
            }
         </tr>
    </table>
</div>

@section FooterScripts
{
}